/* melhorar posicionamento do link para registro */
#register-link, #login-link {
    float: right;
}

.login-form input {
    width: auto;
}

.login-form .form-group {
    display: inline-block;
}

.login-form .checkbox-link {
    display: block;
}
