.username {
    font-weight: bold;
}

.user-area form,
.item form{
    display: inline-block;
    float: right;
}

.user-area {
    text-align: right;
}

.feed-list {
    /*height: */
    overflow-y: auto;
}

.entry {
    display: inline-block;
}

.pagination {
    text-align: center;
    display: block;
}