<!DOCTYPE html>
<html>

  <head>
    <title>RSSReader - {{ feed.title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'reader/css/feed_page.css' %}"/>
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>

  <body>
    <div class="feeds-section">
      <div class="feed-subscribe">
	<form method="post" action="/reader/feed">
	  {% csrf_token %}
	  <label for="feed-link">Assinar feed</label>
	  {{ feed_sub_form }}
	  <button type="submit" name="subscription-submit">Assinar</button>
	</form>
      </div>

      <div class="feed-list"> <!-- TODO tem que por o scroll -->
	<p>Seus feeds</p>
	{% for f in feed_list %}
	<div class="item">
	  <a href="/reader/feed/{{ f.title }}">
	    {{ f.title }}
	  </a>
	  <!-- TODO adicionar botão para cancelamento de inscrição -->
	  <form method="post" action="/reader/feed">
	    {% csrf_token %}
	    <input type="hidden" name="title" value="{{ f.title }}"/>
	    <input type="hidden" name="link" value="{{ f.link }}"/>
	    <button type="submit" name="subscription-cancelation">Cancelar</button>
	  </form>
	</div>
	{% endfor %}
      </div>
    </div>

    <div class="feed-display">
      <div class="feed-header">
	<a href="{{ feed.link }}">{{ feed.title }}</a>
	<div>
	  <span>Ordenar por:</span>
	  <button type="button" class="btn btn-link">Data</button>
	  <button type="button" class="btn btn-link">Recomendação</button>
	</div>
	<p>{{ feed.description }}</p>
      </div>

      <div class="entry-list">
	{% for e in entries %}
	<div class="entry">
	  <div>
	    {{ e.title }} {{ e.pub_date }}
	  </div>
	  <div>
	    {{ e.description|safe }}
	  </div>
	</div>
	{% endfor %}
      </div>
    </div>

    <div class="user-area">
      <p>{{ user.user.username }}</p>
      <form method="post" action="/reader/">
	{% csrf_token %}
	<button type="submit" name="logout">sair</button>
      </form>
    </div>
  </body>
</html>
