{% extends 'reader/base_logged_in.html' %}

{% block title %}PoliClipping - {{ feed.title }}{% endblock %}

{% block content %}
  <div class="col-md-9">
    <div class="feed-display">
      {% if feed != None %}
      <div class="feed-header">
        <a href="{{ feed.link }}">
          <h1>{{ feed.title }}</h1>
        </a>
        <p>{{ feed.description }}</p>
      </div>

      <div class="entry-list">
        {% for e in entries %}
        <div class="entry">
          <div>
	    <a target="_blank" href="{% url 'click' %}?url={{ e.link|urlencode }}">
              <h2>
	        {% if e in recommended_entries %}
	        ***{{ e.title }}***
	        {% else %}
	        {{ e.title }}
	        {% endif %}
              </h2>
	    </a>
            <p>{{ e.pub_date }}</p>
          </div>
          <div>
	    {{ e.description|safe }}
          </div>
        </div>
        {% endfor %}
        <div class="pagination">
          <span class="step-links">
            {% if entries.has_previous %}
            <a href="?address={{ feed.address }}&page={{ entries.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
              Page {{ entries.number }} of {{ entries.paginator.num_pages }}.
            </span>

            {% if entries.has_next %}
            <a href="?address={{ feed.address }}&page={{ entries.next_page_number }}">próximo</a>
            {% endif %}
          </span>
        </div>
      </div>
      {% else %}
      <div class="feed-header">
        <p>Nenhum feed foi selecionado!</p>
        <div>
        </div>
        <p>Nada para ver aqui...</p>
      </div>
      <div class="entry-list">
      </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
